<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="TraderForPoe.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
    <userSettings>
        <TraderForPoe.Properties.Settings>
            <setting name="PlayerName" serializeAs="String">
                <value>PLAYERNAME</value>
            </setting>
            <setting name="CollapsedItems" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PlayNotificationSound" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="PathToClientTxt" serializeAs="String">
                <value>C:\Program Files (x86)\Steam\steamapps\common\Path of Exile\logs\Client.txt</value>
            </setting>
            <setting name="WindowLocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="CustomWhisper1" serializeAs="String">
                <value>Give me one second! :) (Sent with TraderForPoe)</value>
            </setting>
            <setting name="CustomWhisper2" serializeAs="String">
                <value>Already sold, sorry. :( (Sent with TraderForPoe)</value>
            </setting>
            <setting name="ThankYouWhisper" serializeAs="String">
                <value>Thank you very much, good luck and have a nice day. :) (Sent with TraderForPoe)</value>
            </setting>
            <setting name="ImBusyWhisper" serializeAs="String">
                <value>Hi, I'm busy right now. Shall I write you after? :) (Sent with TraderForPoe)</value>
            </setting>
            <setting name="UseClipboardMonitor" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CloseItemAfterTrade" serializeAs="String">
                <value>True</value>
            </setting>
        </TraderForPoe.Properties.Settings>
    </userSettings>
</configuration>
